extends layout

block content
  h2= title
  h3 Welcome to #{title}
  div.messages
    each message in messages
      div.post
        p.username= message.user + ": "
        p.message= message.message
        p.date= message.date.toLocaleString()
        
